[Unit]
Description=ppmqd Service
After=storage.service
After=network.target

[Service]
Type=simple
EnvironmentFile=/media/fdiot/tools/env.conf
WorkingDirectory=/media/fdiot/ppmqd/bin
ExecStart=/media/fdiot/ppmqd/bin/ppmqd -ipaddr ${etcdsrv} -region ${region} -i ${devname}

#Restart=on-success
Restart=on-failure
RestartSec=6s

[Install]
WantedBy=multi-user.target